.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../../public/portal1.jpg");
  background-position: center;
  height: auto;
  width: auto;
  border: 1px solid grey;
  border-radius: 50px;
  box-shadow: 16px 14px 20px #39ff14;
  overflow: hidden;
  padding: 20px;
  cursor: pointer;
  -maz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s esset-out;
  
}
.cardContainer::before {
  content: '';
  position:absolute;
  height: 500px;
  width: 600px;
  border-radius: 40%;
  background-image: conic-gradient(#39ff14, transparent 120deg);
  animation: rotar 2s linear infinite;
}

@keyframes rotar {
  from{
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.cardContainer::after {
  content: '';
  position: absolute;
  height: 240px;
  width: 190;
  background-color: #39ff14;
  border-radius: 50%;
  box-shadow: inset 16px 14px 20px #0000008c;
  
} 

.container:hover {
  transform: scale(310);
}

.atributes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  font-size: small;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.closeButton {
  opacity: 0.7;
  position: absolute;
  top: 5px;
  right: 5px;
}

.closeButton:hover {
  background-color: rgb(211, 34, 34);
  color: white;
  
}

.imageContainer{
  position: relative;
  text-align: center;
  display: inline-block;
  margin-bottom: 5px;
 }

.name {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.characterImage {
  display: block;
  width: 100%;
  height: auto;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.imageContainer:hover {
  opacity: 0.5;
}

.imageContainer:hover .name {
  opacity: 1;
}

.image {
  border-radius: 1000px;
}


